@use 'global' as *;

#main-image{
	position: relative;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	
	#header-buttons{
		position: absolute;
    	top: calc(50% - 40px);
		left: 0;
		max-width: 100vw;
		width: 100vw;
	}

    @media (max-width: $tabletwidth){
        #header_buttons{
            height: 300px;
        }
    }

	/**/
	.header_button{
		display: inline-block;
		border-radius: 30px;
		padding: 10px 30px;
		border:none;
		margin-right: 20px;
		text-transform: uppercase;
		color:white;
	
		/**/
		&:hover,
		&:active{
			color: white;
			text-decoration: underline;
		}
	}

	#first_button{
		background-color:$primary_color;
	}

	#second_button{
		background-color: transparent;
		border-color: white;
		border: white 2px solid;
    }

    @media (max-width: $mobilewidth){
		.btn-right{
			margin-top: 30px;
		}
	}
}

/** 
 Needed otherwise the image will be on top
*/
.has-inline-mobile-toggle{
	z-index: 2;
}